h1 {
    text-align: center;
}
html, body {
    background: radial-gradient(#cccccc, #cccccc);
}
h1 {
    padding: 1em;
    font-weight: 800;
}
.card {
    text-align: center;
    margin-bottom: 2em;
}